.barcode__container {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center;
    margin-top: 80px;
}

.barcode__digit {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 0 1%;
}
