.app__container {
    background-color: #fafafa;
    height: 100vh;
    padding: 40px 0;
}

.app__title {
    color: #222;
    margin: 0 20px 40px;
    text-align: center;
}

.app__adjusts {
    margin: 0 auto;
    width: 300px;
}

.app__input {
    border: 1px solid #ccc;
    color: #555;
    font-size: 24px;
    padding: 5px 10px;
    width: 100%;
}

.app__colors {
    margin: 20px auto 0;
}

.app__label {
    color: #222;
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
}

.app__label span {
    display: block;
    margin-bottom: 3px;
}
